name: Pull Request Checks

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: "Lint, Build and Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - name: Installing dependencies
        run: yarn install --frozen-lockfile
      - name: Prettier check
        run: yarn run format-check
      - name: Running ESLint
        run: yarn lint
      - name: Build check
        run: yarn build
      - name: Running unit test's
        run: yarn test

  scan:
    needs: lint
    uses: circlefin/circle-public-github-workflows/.github/workflows/pr-scan.yaml@v1
