name: Pull Request Checks

on:
  pull_request:
    branches: [master]

jobs:
  lint:
    name: "Lint, Build and Test"
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: block
          policy: global-allowed-endpoints-policy

      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      - name: Installing dependencies
        run: yarn install --frozen-lockfile
      - name: Prettier check
        run: yarn run format-check
      - name: Running ESLint
        run: yarn lint
      - name: Build check
        run: yarn build
      - name: Running unit test's
        run: yarn test

  scan:
    needs: lint
    uses: circlefin/circle-public-github-workflows/.github/workflows/pr-scan.yaml@v1
